<!DOCTYPE html>
<html lang="es">
<x-head title="Passiflor – Regresa a Tu Ser Natural" />
<head>
    <link rel="stylesheet" href="{{ asset('css/therapy.css') }}">
</head>


    <div class="header-wrapper">
        <div class="container container-1">
            <img class="header-logo" src="{{ asset('imgs/icon3.svg') }}" alt="">
        </div>
        <div class="container container-2">
            <span>Passiflor</span>
            <a href="https://passiflor.org" target="_blank" aria-label="url">passiflor.org</a>
        </div>
    </div>

    <div class="wrapper-1">
        <div class="container-1"></div>
    </div>

    <div class="wrapper-2">
        <span>593979136467</span>
        <span>verordonezp@passiflor.org</span>
    </div>

<body>`
</body>
</html> 